@import "~antd/dist/antd.dark.less";

@primary-color: #1db954;                         // primary color for all components

body{
  background-color: #1f1f1f;
}

.loader {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 30px 50px;
  margin: 20px 0;
}

.artist-name {
  margin-top: -20px !important;
}

.capitalize {
  text-transform: capitalize;
}

@media screen and (max-width: 575px){
  .limit-input {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 999px) and (min-width: 576px){
  .limit-input {
    margin-left: 0.5rem;
  }
}
